@page "/{author}"
@using Chirp.Core.Entities
@using Chirp.Core.Repository
@using Chirp.Web.Pages

@using FluentValidation
@model Chirp.Razor.Pages.UserTimelineModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@inject IValidator<CreateCheep> Validator
@inject IAuthorRepository AuthorRepository
@inject ICheepRepository CheepRepository

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

            <div>
                <h2> @routeName's Timeline </h2>

                @if (SignInManager.IsSignedIn(User)) {
                    @await Html.PartialAsync("Shared/_CheepBox", new NewCheep {Text = ""})
                }

                @if (!Model.Cheeps!.Any() || Model.Cheeps == null)
    {
                <div>
                    <p>This user has no cheeps so far.</p>
                </div>
    }
    else
    {
                @await Html.PartialAsync("Shared/_CheepList", Model)
    }
            </div>


            @section Scripts {
                <partial name="/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml" />
            }
