@using Minitwit.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
    @RenderSection("Scripts", required: false)
</head>
<body>
<div class=page>
    <h1><img src="/images/icon1.png" alt="Icon1"/>Chirp!</h1>
    
    <div class=navigation>
        @if (SignInManager.IsSignedIn(User) && User.Identity != null)
        {
            <div>

                <a href="/@(User.Identity.Name)">My timeline</a> |
                <a href="/@(User.Identity.Name)/AboutMe">About Me</a> |

                <a href="/">Public timeline</a> |
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                </form>
            </div>
        }
        else
        {
            <div>
                <a href="/">Public timeline</a> |
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        }
    </div>
    <div class=body>
        @RenderBody()
    </div>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>

</body>
</html>